<h3>Find by Address</h3>
  <form role="search" id="places_form">
    <input type="text" class="autocomplete" class="form-control " placeholder="Search">
  </form>

  <h4>Pick the facilities you need</h4>
  <%#= @coffeeshop.facilities.map{|f| "##{f.name}"}.join(", ") %>
<p>Submit</p>
 <h4> Find by Geolocation</h4>

 <%= form_tag coffeeshops_path, :method => 'get' do %>
   <p>
     <%= text_field_tag :search, params[:search] %>
     <%= submit_tag "Search", :name => nil %>
   </p>
 <% end %>