@import "bourbon";
@import "neat";
@import "map";
@import "base/base";
@import "navbar";
@import "footer";


body {
   max-width: 100%;
   margin: 0 auto;
   font-family: $helvetica;

}

.main {
   max-width: 960px;
   height: 960px;
   margin: 0 auto;
}

