@import "bourbon";
@import "base/base";
@import "neat";
@import "map";
@import "base/base";
@import "navbar";
@import "footer";
@import "coffeeshopTableindex";

body {
   max-width: 100%;
   margin: 0 auto;
   font-family: $helvetica;

}

.main {
   max-width: 960px;
   // height: 960px;
   height: relative;
   margin: 0 auto;
}

