/*#googleMap{
  height: 500px;
  width: 500px;
  position: relative;
}*/

#googleMap  {
  height: 400px;
  width: 100%;
}

#mgoogleMap img { 
  max-width: none; 
// to prevent UI control bug
}

#mgoogleMap .content {
  padding: 0 0.5em 1em 0.5em;
}

#mgoogleMap .firstHeading {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
}

#mgoogleMap #bodyContent p {
  font-size: 1em;
  margin: 0;
}