.centered-navigation {
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: #E7F1EC;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6%);
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;

  // Mobile view

  .mobile-logo {
    display: inline;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;

    img {
      max-height: $centered-navigation-height;
      opacity: .6;
      padding: .8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-mobile-menu {
    color: $centered-navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  // Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }

  // The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    a {
      color: $centered-navigation-color;
      display: inline-block;
      outline: none;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $centered-navigation-color-hover;
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
    opacity: 0.6;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $centered-navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -0.4em auto auto);
      color: $centered-navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

      &:after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($centered-navigation-background, 3%);
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $centered-navigation-background;
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }
    }
  }
}








// header {
//       h1 {
//         margin-top: 0;

//       }
//    nav {
//     width: 100%;
//     height: 100px;
//     margin-bottom: 30px;
//     margin-top: 0;
//     background-color: gray;
//     border-radius: 5px;
          
//   }
// }

// header.navigation {
//   $base-border-color: gainsboro !default;
//   $base-border-radius: 10px !default;
//   $action-color: #477DCA !default;
//   $lightbrown: #5b4b4b !default;
//   $large-screen: em(860) !default;
//   $navigation-padding: 1em;
//   $navigation-background: $lightbrown;
//   $navigation-color: transparentize(white, 0.3);
//   $navigation-color-hover: white;
//   $navigation-height: 80px;
//   $navigation-nav-button-background: $action-color;
//   $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
//   $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
//   $navigation-search-background: lighten($navigation-background, 5);
//   $navigation-search-border: 1px solid darken($navigation-background, 5);
//   $navigation-active-link-color: transparentize(white, 0.5);
//   $navigation-submenu-padding: 1em;
//   $navigation-submenu-width: 12em;
//   $horizontal-bar-mode: $large-screen;

//   background-color: $navigation-background;
//   border-bottom: 1px solid darken($navigation-background, 10);
//   min-height: $navigation-height;
//   width: 100%;
//   z-index: 999;

//   .navigation-wrapper {
//     @include clearfix;
//     @include outer-container;
//     position: relative;
//     z-index: 9999;
//   }

//   .logo {
//     float: left;
//     max-height: $navigation-height;
//     padding-left: $navigation-padding;
//     padding-right: 2em;


//     img {
//       max-height: $navigation-height;
//       padding: 0.8em 0;

//     }
//   }

//   // Mobile view

//   .navigation-menu-button {
//     color: $navigation-color;
//     display: block;
//     float: right;
//     font-weight: 700;
//     line-height: $navigation-height;
//     margin: 0;
//     padding-right: 1em;
//     text-transform: uppercase;

//     @include media ($horizontal-bar-mode) {
//       display: none;
//     }

//     &:focus,
//     &:hover {
//       color: $navigation-color-hover;
//     }
//   }

//   // Nav menu

//   nav {
//     float: none;
//     min-height: $navigation-height;
//     z-index: 9999999;

//     @include media ($horizontal-bar-mode) {
//       float: left;
//     }
//   }

//   ul.navigation-menu {
//     -webkit-transform-style: preserve-3d; // stop webkit flicker
//     clear: both;
//     display: none;
//     margin: 0 auto;
//     overflow: visible;
//     padding: 0;
//     width: 100%;
//     z-index: 9999;

//     &.show {
//       display: block;
//     }

//     @include media ($horizontal-bar-mode) {
//       display: inline;
//       margin: 0;
//       padding: 0;
//     }
//   }

//   // The nav items

//   ul li.nav-link {
//     background: $navigation-background;
//     display: block;
//     line-height: $navigation-height;
//     overflow: hidden;
//     padding-right: 0.8em;
//     text-align: right;
//     width: 100%;
//     z-index: 9999;

//     @include media ($horizontal-bar-mode) {
//       background: transparent;
//       display: inline;
//       line-height: $navigation-height;
//       text-decoration: none;
//       width: auto;
//     }

//     a {
//       color: $navigation-color;
//       display: inline-block;
//       font-weight: 400;
//       text-decoration: none;
//       padding-left:50px;
//       padding-right: 30px;

//       @include media ($horizontal-bar-mode) {
//         padding-right: 1em;
//       }

//       &:focus,
//       &:hover {
//         color: $navigation-color-hover;
//       }
//     }
//   }

//   .active-nav-item a {
//     border-bottom: 1px solid $navigation-active-link-color;
//     padding-bottom: 3px;
//   }

//   // Sub menus

//   li.more.nav-link {
//     padding-right: 0;

//     @include media($horizontal-bar-mode) {
//       padding-right: $navigation-submenu-padding;
//     }

//     > ul > li:first-child a  {
//       padding-top: 1em;
//     }

//     a {
//       margin-right: $navigation-submenu-padding;
//     }

//     > a {
//       padding-right: 0.6em;
//     }

//     > a:after {
//       @include position(absolute, auto -0.4em auto auto);
//       content: '\25BE';
//       color: $navigation-color;
//     }
//   }

//   li.more {
//     overflow: visible;
//     padding-right: 0;

//     a {
//       padding-right: 0.8em;
//     }

//     > a {
//       padding-right: 1.6em;
//       position: relative;

//       @include media($horizontal-bar-mode) {
//         margin-right: $navigation-submenu-padding;
//       }

//       &:after {
//         content: '›';
//         font-size: 1.2em;
//         position: absolute;
//         right: $navigation-submenu-padding / 2;
//       }
//     }

//     &:focus > .submenu,
//     &:hover > .submenu {
//       display: block;
//     }

//     @include media($horizontal-bar-mode) {
//       padding-right: 0.8em;
//       position: relative;
//     }
//   }

//   ul.submenu {
//     display: none;
//     padding-left: 0;

//     @include media($horizontal-bar-mode) {
//       left: -$navigation-submenu-padding;
//       position: absolute;
//       top: 1.5em;
//     }

//     .submenu {
//       @include media($horizontal-bar-mode) {
//         left: $navigation-submenu-width - 0.2em;
//         top: 0;
//       }
//     }

//     li {
//       display: block;
//       padding-right: 0;

//       @include media($horizontal-bar-mode) {
//         line-height: $navigation-height / 1.3;

//         &:first-child > a {
//           border-top-left-radius: $base-border-radius;
//           border-top-right-radius: $base-border-radius;
//         }

//         &:last-child > a {
//           border-bottom-left-radius: $base-border-radius;
//           border-bottom-right-radius: $base-border-radius;
//           padding-bottom: 0.7em;
//         }
//       }

//       a {
//         background-color: darken($navigation-background, 3%);
//         display: inline-block;
//         text-align: right;
//         width: 100%;

//         @include media($horizontal-bar-mode) {
//           background-color: $navigation-background;
//           padding-left: $navigation-submenu-padding;
//           text-align: left;
//           width: $navigation-submenu-width;
//         }
//       }
//     }
//   }

//   // Elements on the far right

//   .navigation-tools {
//     background: #505050;
//     clear: both;
//     display: block;
//     height: $navigation-height;
//     padding-left: $navigation-padding / 2;
//     padding-right: $navigation-padding;

//     @include media($horizontal-bar-mode) {
//       background: transparent;
//       clear: none;
//       float: right;
//     }
//   }

//   .sign-up {
//     @include button(flat, $action-color);
//     display: inline;
//     float: right;
//     font-size: 0.8em;
//     margin-top: 1em;
//     padding: 0.75em 1em;
//     text-transform: uppercase;
//   }

//   // Search bar

//   .search-bar {
//     $search-bar-border-color: $base-border-color;
//     $search-bar-border: 1px solid $search-bar-border-color;
//     $search-bar-background: lighten($search-bar-border-color, 10%);

//     float: left;
//     padding: 0.85em 0.6em 0.7em 0.6em;
//     width: 60%;

//     form {
//       position: relative;

//       input[type=search] {
//         @include box-sizing(border-box);
//         background: $navigation-search-background;
//         border-radius: $base-border-radius * 2;
//         border: $navigation-search-border;
//         color: $navigation-color;
//         font-size: 0.9em;
//         font-style: italic;
//         margin: 0;
//         padding: 0.5em 0.8em;
//         width: 100%;

//         @include media($horizontal-bar-mode) {
//           width: 100%;
//         }
//       }

//       button[type=submit] {
//         @include button(flat, $navigation-search-background);
//         bottom: 0.3em;
//         left: auto;
//         outline: none;
//         padding: 0 9px;
//         position: absolute;
//         right: 0.3em;
//         top: 0.3em;

//         img {
//           height: 12px;
//           opacity: 0.7;
//           padding: 1px;
//         }
//       }
//     }

//     @include media($horizontal-bar-mode) {
//       display: inline-block;
//       position: relative;
//       width: 16em;

//       input {
//         @include box-sizing(border-box);
//         display: block;
//       }
//     }
//   }
// }
