#user_profile img {
  display: inline;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-top: 20px;
}

.profpic {
  display: inline;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-top: 20px;
}

.coffeepic img {
  display: inline;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-top: 20px;
}


#coffee_shop_picture img{
  display: inline;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-top: 5px;

}