%p
  - if @reviews.length > 0
    - @reviews.each do |r|
      %p
        %b 
          = r.user.name
        = r.body
        %b
          = r.rating
  - else
    %br
    %i This coffeeshop doesn't have any reviews yet!




