%p
  = review.user.email
  said:
%p
  Rating: #{review.rating}
%span.rating
  %input#rating-input-1-5.rating-input{:name => "rating-input-1", :type => "radio"}
    %label.rating-star{:for => "rating-input-1-5"}
    %input#rating-input-1-4.rating-input{:name => "rating-input-1", :type => "radio"}
      %label.rating-star{:for => "rating-input-1-4"}
      %input#rating-input-1-3.rating-input{:name => "rating-input-1", :type => "radio"}
        %label.rating-star{:for => "rating-input-1-3"}
        %input#rating-input-1-2.rating-input{:name => "rating-input-1", :type => "radio"}
          %label.rating-star{:for => "rating-input-1-2"}
          %input#rating-input-1-1.rating-input{:name => "rating-input-1", :type => "radio"}
            %label.rating-star{:for => "rating-input-1-1"}
%blockquote
  = review.body 

